version: "3.9"

services:
  flowise:
    image: flowiseai/flowise
    container_name: flowise
    restart: always
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - FLOWISE_USERNAME=admin
      - FLOWISE_PASSWORD=admin123
      - NODE_TLS_REJECT_UNAUTHORIZED=0
    volumes:
      - ~/flowise/data:/root/.flowise
      - ~/flowise/imports:/imports
